canvas {
    display: block;
    margin: 0 auto;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.modal {
    width: 500px;
    height: 300px;
    position: absolute;
    background: white;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.restartButton {
    width: 200px;
    height: 50px;
    background: gray;
    border: 2px solid black;
    border-radius: 50px;
    font-size: 35px;
    color: black;
    margin-top: 20px;
}

.tablo {
    width: 400px;
    height: 50px;
    border: 2px solid black;
    border-radius: 50px;
    color: black;
    font: 35px Arial;
    background: gray;
    display: flex;
    justify-content: center;
    align-items: center;
}