.list_of_winners {
    width: 100vw;
    height: 270px;
    background: #181a1b;
    padding: 150px 70px 30px 90px;
}

.list_of_winners-text {
    width: 1100px;
    height: 90px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 48px;
    font-weight: 600;
    color: rgba(4, 4, 218, 0.87);
}
